body {
    margin: 0 auto;
    font-family: 'Merriweather', serif;
}

/*#container {
    align-items: center;
}*/

.jumbotron {
    background-color: darkblue;
}
.display-4 {
    text-align: center;
    color: white;
}

.gray-border {
    border: 1px solid lightgray;
}

form {
    padding: 20px;
}

.form-title {
    background-color: lightgray;
    padding: 5px;
}

.form-title h2 {
    font-size: 2em;
    margin: 0px;
}

.form-group label {
    padding-top: 20px;
}